
.body{
	font-size: 15px;

    background-image: url(https://lh3.googleusercontent.com/proxy/vSfRUl0HyS6TnwGL9ybQUvo4QnoDaowvCe7ZF7XgicODVBZFPvxOCrCFocJ6taps5kAOgyCajvG1QsQP6_AAcO5TKyvjkeIpyDBt8qqQMF7SyOtfWK_vesrnRBug76PzSHn_xyezi5--A923H-SA8GVT);;
}
body{
    background-image: url(https://lh3.googleusercontent.com/proxy/vSfRUl0HyS6TnwGL9ybQUvo4QnoDaowvCe7ZF7XgicODVBZFPvxOCrCFocJ6taps5kAOgyCajvG1QsQP6_AAcO5TKyvjkeIpyDBt8qqQMF7SyOtfWK_vesrnRBug76PzSHn_xyezi5--A923H-SA8GVT);;
}
p:hover{
	background-color: #98B4D4;

}
table:hover{
	background-color: #98B4D4;

}
button:hover{
	background-color: #98B4D4;

}
